/* BUTTONS */

button {
    outline: none;
    &:focus,
    &:hover,
    &:active {
        outline: none;
    }
}

.btn {
    border-radius: 0;
    &:focus,
    &:hover,
    &:active,
    &:active.focus,
    &:focus.active,
    &:active:focus {
        outline: none;
    }
    &.btn-primary {}
    &.btn-secondary {}
    &.btn-xs {}
    &.btn-sm {}
    &.btn-lg {}
    &.btn-black {
        color: $white;
        background-color: $gray-dark2;
        font-family: $font-secondary;
        text-transform: uppercase;
        &:focus,
        &:hover,
        &:active,
        {
            background-color: $black;
        }
    }
    &.btn-yellow {
        color: $white;
        background-color: $yellow;
        font-family: $font-secondary;
        text-transform: uppercase;
        &:focus,
        &:hover,
        &:active,
        {
            background-color: #f3b224;
        }
    }
}