/* HELPERS */


/* Text colors */


/* Classes */

.page-center {
    position: absolute;
    top: 50%;
    left: 50%;
    @include prefix(transform, translate(-50%, -50%));
}

.display-inline {
    display: inline-block;
}

.width-100 {
    width: 100%;
}

.full-width {
    float: left;
    width: 100%;
    clear: both;
}

.no-border {
    border: 0 !important;
}

.load-more {
    text-align: center;
    padding: 80px 0 30px;
    .btn {
        font-size: 14px;
        font-weight: normal;
        color: #fff!important;
        text-align: center;
        background: #4b4b4b;
        text-transform: uppercase;
        padding: 10px 15px;
        font-family: $font-secondary;
        &:hover,
        &:focus,
        &:active {
            background: #000!important;
            box-shadow: none;
        }
    }
}

.vertical-center {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: inherit;
    position: relative;
}

.center {
    text-align: center;
}