/* VARIABLES */


/* Font Families */

$avenir: 'Avenir',
sans-serif;
$avenirNextCondensed: 'AvenirNextCondensed';
$fontAwesome: 'FontAwesome';

/* fonts to be used by the entire site */

$font-primary: $avenir;
$font-secondary: $avenirNextCondensed;

/* Colors */

$black: #000;
$white: #fff;
$red: #dd0202;
$green: #88c7a8;
$yellow: #fcc44b;
$indigo: #635bc8;
$pink: #F57574;
$pink2: #f27576;
$gray: #797979;
$gray2: #999999;
$gray-light: #ebebeb;
$gray-light2: #eaeaea;
$gray-light3: #e6e6e6;
$gray-light4: #f4f4f4;
$gray-light5: #b2b2b2;
$gray-dark: #333333;
$gray-dark2: #4b4b4b;
$gray-dark3: #e6e6e6;

/* Media queries breakpoints */

$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1199px !default;