.subscribe {
    background-color: $pink;
    color: $white;
    padding: 20px 0 40px;
    margin-top: -1px;
    h1 {
        margin-bottom: 20px;
    }
    p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .btn {
        margin-top: -1px;
        margin-left: -4px;
        @media screen and (-webkit-min-device-pixel-ratio: 0) {
            margin-top: 0;
        }
    }
    input[type="email"] {
        display: inline-block;
        border: 0;
        width: 70%;
        color: #555;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        @media(min-width: $screen-sm) {
            width: 40%;
        }
    }
    @media(min-width:$screen-sm) {
        padding: 60px 0 80px;
    }
}