<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /vizologi/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /vizologi/index.php [L]
</IfModule>