/* Canvas */

.canvas-viewer {
    background-color: $gray-dark2;
    // padding: 60px 0;
    min-height: calc(100vh - 180px);
    position: relative;
    .container {
        background-color: #edebeb;
    }
    .overlay {
        background: transparent none repeat scroll 0 0;
        height: 500px;
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
    }
}

.canvas-detail-bar {
    background-color: #525252;
    position: fixed;
    bottom: 0;
    height: 60px;
    z-index: 1;
    &.detach {
        position: relative;
        bottom: inherit;
    }
    .share.open-new {
        padding: 12px 20px 11px;
        //chrome
        @media screen and (-webkit-min-device-pixel-ratio: 0) {
            padding: 12px 20px 12px;
        }
        &.active {}
    }
    .open-new-share {
        top: 75px !important;
        width: 190px !important;
        left: 360px !important;
        //chrome
        @media screen and (-webkit-min-device-pixel-ratio: 0) {
            left: 345px !important;
        }
        padding: 24px 10px 20px !important;
        height: auto !important;
        background-color: #525252 !important;
        &:before {
            content: "";
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 12px solid #525252;
            position: absolute;
            top: -8px;
            margin-left: 0px;
            left: 87px;
        }
        a {
            padding: 0 10px;
        }
        div {
            padding: 0!important;
        }
        .addtoany_list a img {
            width: 19px;
        }
    }
    .detail-bar-name {
        float: left;
        background-color: $white;
        padding: 0;
        height: 60px;
        &:before {
            background-color: $white;
            content: "";
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
            left: -100%;
        }
        h4 {
            font-size: 16px;
            padding: 10px 15px;
            color: #696969;
            //chrome
            @media screen and (-webkit-min-device-pixel-ratio: 0) {
                padding: 11px 15px 10px;
            }
        }
    }
    .detail-bar-tools {
        float: left;
        color: $white;
        padding: 0;
        div {
            float: left;
            padding: 11px 20px 10px;
            @media screen and (-webkit-min-device-pixel-ratio: 0) {
                padding: 12px 20px 11px;
            }
        }
        i {
            font-style: normal;
            font-size: 24px;
        }
        a {
            color: $white;
            font-size: 21px;
            &:hover,
            &:focus,
            &:active {
                color: $white;
                text-decoration: none;
            }
        }
        .info {
            background-color: #f47574;
            padding: 12px 17px 13px 23px;
            margin-right: 0;
            position: relative;
            @media screen and (-webkit-min-device-pixel-ratio: 0) {
                margin-right: 25px;
                padding: 12px 17px 12px 23px;
            }
            &:after {
                content: "";
                width: 0;
                height: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 10px solid #f47574;
                position: absolute;
                bottom: -8px;
                margin-left: 0px;
                @supports (-ms-ime-align: auto) {
                    margin-left: -23px;
                }
            }
        }
        .range-slider {
            padding: 17px 0 11px;
            //edge
            @supports (-ms-ime-align: auto) {
                width: 160px;
            }
            .mdl-slider__container {
                padding: 0;
                position: relative;
                top: 2px;
                //edge
                @supports (-ms-ime-align: auto) {
                    top: 0;
                }
                //chrome
                @media screen and (-webkit-min-device-pixel-ratio: 0) {
                    top: 3px;
                }
                input {
                    border: 0;
                    //chrome
                    @media screen and (-webkit-min-device-pixel-ratio: 0) {
                        padding: 0;
                        height: 2px;
                        position: relative;
                        top: 8px;
                    }
                    //edge
                    @supports (-ms-ime-align: auto) {
                        height: auto;
                        top: 5px;
                    }
                }
                div {
                    padding: 0;
                }
            }
        }
        .star-rating__wrapper {
            div {
                padding: 0;
                float: none;
            }
        }
        .caption {
            padding: 10px 0 3px !important;
            font-size: 18px;
            display: none;
        }
    }
}

.canvas-info {
    background-color: #edebeb;
    &.active {
        display: block;
    }
    #canvas-info {
        padding: 50px 0px 100px;
        // display: none;
    }
    img {
        padding-bottom: 5px;
        max-width: 50%;
    }
    p {
        color: #999999;
    }
    .text-about {
        margin-top: 40px;
        @media(min-width: $screen-md) {
            margin-top: 155px;
        }
        /* b {
            color: #cac9c9;
        } */
    }
    .text-description-tags {
        a {
            color: #999999;
            text-decoration: underline;
            margin-right: 10px;
            &:hover,
            &:focus,
            &:active {
                color: $gray;
            }
        }
    }
    a.company-url {
        color: #404040;
        text-decoration: underline;
        margin-top: 50px;
        display: inline-block;
        &:hover,
        &:focus,
        &:active {
            color: $black;
        }
    }
}

.recommended {
    background-color: #f6f6f6;
    .card-recommend {
        min-height: inherit;
        img {
            max-width: 60%;
        }
    }
}

.canvas-archive {
    padding: 0 0 50px;
    background: none;
    margin: 0 -15px;
    .card-recommend {
        min-height: inherit;
        img {
            max-width: 60%;
        }
    }
    p {
        span,
        b {
            color: $black;
            font-weight: normal;
        }
    }
    h1 {
        color: $pink;
        font-weight: 600;
    }
}


/* mobile only */

@media(max-width: $screen-sm) {
    .canvas-viewer {
        padding: 0;
    }
    .detail-bar-name {
        width: 100%;
        &:before {
            display: none;
        }
    }
    .canvas-detail-bar {
        .detail-bar-tools {
            div {
                padding: 13px 20px 8px;
            }
            .info {
                padding: 14px 10px 14px;
            }
        }
    }
}

@media(min-width: 769px) and (max-width:$screen-md) {
    .canvas-detail-bar {
        .detail-bar-tools {
            div {
                padding: 13px 6px;
                &.star-rating__wrapper {
                    padding: 13px 0;
                }
            }
            .info {
                padding: 14px 10px 14px;
            }
        }
    }
}

@media(min-width: $screen-md) and (max-width:$screen-lg) {
    .canvas-detail-bar {
        .detail-bar-tools {
            div {
                padding: 13px 17px 8px;
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 768px) {
    .canvas-detail-bar {
        .detail-bar-name {
            width: calc(100% + 24px);
            margin-left: -15px;
        }
        .detail-bar-tools {
            width: calc(100% + 24px);
            margin-left: -15px;
            div {
                padding: 13px 25px 8px;
            }
            .info {
                padding: 14px 17px 14px;
            }
        }
    }
}

// Canvas Template
.canvas-template {}

.hover-img {
    position: relative;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
    &:hover,
    &:focus,
    &:active {
        &:before {
            content: "";
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: calc(100% - 20px);
            position: absolute;
        }
        .download-button {
            top: 20px;
            right: 20px;
        }
    }
}

.download-button {
    transition: all 0.25s ease-in-out;
    width: 50px;
    height: 50px;
    top: -60px;
    right: -60px;
    border-radius: 50%;
    background: #f27576;
    position: absolute;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 10px;
    display: inline-block;
    i {
        color: white;
        font-size: 24px;
        padding: 3px;
    }
}