/* Home */

.hero {
    background: url(../images/home-header-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: $white;
    height: 400px;
    h1 {
        font-size: 36px;
        line-height: 1.2;
        margin: 0;
        // margin-top: 50px;
        /*  @media(min-width: 450px) {
            margin-top: 70px;
        } */
    }
    h2 {
        margin: 0;
        line-height: 1.2;
        font-size: 24px;
        a {
            color: $white;
            &:hover,
            &:focus,
            &:active {
                color: $white;
                text-decoration: none;
            }
        }
    }
    .select-wrapper {
        width: 100%;
        margin-top: 20px;
        h2 {
            display: inline-block;
            vertical-align: top;
            font-size: 20px;
            line-height: 1.5;
        }
        .select {
            display: inline-block;
            margin: 0;
            @media(min-width: 445px) {
                margin: 0 20px;
            }
        }
        select {
            width: 100%;
        }
        .btn {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 16px;
            &:hover,
            &:active,
            &:focus {
                background-color: $black!important;
                color: $white!important;
            }
        }
    }
}

@media (max-width:767px) {
    .hero {
        height: calc(100vh - 60px);
        h1 {
            font-size: 26px;
            line-height: 1.2;
            margin: 0;
            text-align: center;
        }
        h2 {
            margin: 0;
            line-height: 1.2;
            font-size: 16px;
            text-align: center;
            font-weight: normal;
            margin-top: 20px;
        }
        .select-wrapper {
            width: 100%;
            text-align: center;
            margin-top: 0;
            h2 {
                font-size: 16px;
                font-weight: normal;
                line-height: 1.5;
                margin-bottom: 20px;
            }
            .select {
                width: 90%;
            }
            .selectric .label {
                font-size: 19px;
                text-align: left;
            }
            .btn {
                padding: 8px 15px;
                font-size: 14px;
            }
        }
    }
}

//trending/new
.trending,
.new,
.recommended,
.search-results {
    background-color: $gray-light4;
    padding: 30px 0;
    h2 {
        color: $gray-dark2;
        font-size: 24px;
        font-weight: normal;
        a.view-all {
            font-size: 13px;
            text-align: right;
            float: right;
            line-height: 2.5;
            padding: 0;
        }
    }
    p {
        color: $gray-light5;
    }
    a {
        text-decoration: underline;
        color: $gray-light5;
        &:hover,
        &:focus,
        &:active {
            color: $gray-dark2;
        }
    }
    .view-all {
        text-align: right;
        padding-top: 25px;
    }
    .col-sm-4 {
        &:nth-of-type(1) {
            .card {
                margin-top: 0;
            }
        }
    }
    .card {
        margin-top: 30px;
        background-color: $white;
        width: 100%;
        min-height: 470px;
        @media(min-width: 768px) and (max-width: 1023px) {
            min-height: 550px;
        }
        position: relative;
        .entry-content {
            min-height: 60px;
        }
        h1 {
            color: $gray-dark2;
            font-size: 24px;
            font-weight: normal;
            padding: 15px 15px 0;
            margin: 0;
            a {
                color: $gray-dark2;
                font-size: 24px;
                font-weight: normal;
                font-family: $font-primary;
                text-transform: none;
                text-align: left;
                padding: 0;
            }
        }
        .entry-content {
            color: $gray-light5;
            font-size: 15px;
            padding: 15px;
        }
        .img-holder {
            background-color: $gray;
            transition: background-color 0.5s linear;
            height: 200px;
            img {
                clear: both;
                display: block;
                max-width: 60%;
                margin: 0 auto;
                width: auto;
            }
            img[width="150"] {
                width: 100px;
            }
            /* img[width="250"] {
                width: 168px;
            }
            img[width="198"] {
                width: 168px;
            } */
            a {
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                bottom: inherit;
                position: relative;
            }
        }
        a {
            text-transform: uppercase;
            font-family: $font-secondary;
            color: $pink2;
            text-decoration: none;
            text-align: right;
            display: block;
            padding: 0 15px 15px;
            font-size: 14px;
            &:hover,
            &:focus,
            &:active {
                color: $black;
                text-decoration: none;
            }
            &.view-canvas {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        .tags {
            padding: 15px 10px 15px;
            clear: both;
            float: left;
            width: 100%;
            a {
                line-height: 1.7;
                float: left;
                font-size: 10px;
                text-transform: uppercase;
                padding: 0 6px;
                color: $gray-light5;
                &:hover,
                &:focus,
                &:active {
                    color: $gray;
                }
            }
        }
    }
    .row {
        .col-sm-4 {
            &:nth-child(1n) {
                .img-holder {
                    background: $indigo;
                    &:hover {
                        background: $green;
                    }
                }
            }
            &:nth-child(2n) {
                .img-holder {
                    background: $green;
                    &:hover {
                        background: $yellow;
                    }
                }
            }
            &:nth-child(3n) {
                .img-holder {
                    background: $yellow;
                    &:hover {
                        background: $pink;
                    }
                }
            }
            &:nth-child(5n) {
                .img-holder {
                    background: $pink;
                    &:hover {
                        background: $indigo;
                    }
                }
            }
        }
    }
}

.new {
    background-color: $gray-dark3;
}

@media(min-width:$screen-sm) {
    .trending,
    .new,
    .recommended,
    .search-results {
        padding: 60px 0 80px;
        .col-sm-4 {
            &:nth-of-type(1) {
                .card {
                    margin-top: 30px;
                }
            }
        }
    }
    .hero {
        height: 500px;
        h1 {
            // margin-top: 110px;
            font-size: 49px;
        }
        .select-wrapper {
            h2 {
                font-size: 28px;
            }
        }
    }
}

@media(min-width:$screen-lg) {
    /* .col-sm-4 {
        &:nth-child(3n+2) {
            padding: 0 3.8%;
        }
        &:nth-child(3n) {
            padding-left: 6.4%;
        }
    } */
    .card {
        /* width: 300px!important; */
    }
    .hero {
        height: calc(100vh - 120px);
        /*  h1 {
            margin-top: 150px;
        } */
        .select-wrapper {
            h2 {
                font-size: 28px;
            }
        }
    }
}